@import '~normalize.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono');

//$font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family: 'Share Tech Mono', monospace;
$min-margin: 2px;
$main-margin: 6px;

html {
  box-sizing: border-box;
  margin: 0;
  body {
    font-family: $font-family;
    font-size: 16px;
  }
}

//*,
//*:before,
//*:after {
//  box-sizing: border-box;
//  margin: 0;
//  padding: 0;
//}

#navigationbar {
  padding: $min-margin $main-margin;
}

#root {
  padding: $min-margin 1rem;
}

#footer {
  padding: $min-margin $main-margin 1.5rem $main-margin;
}

//div {
//  border: 1px solid black;
//}
